.aboutSection {
  padding: 60px 20px;
  background-color: #1e1e1e; /* Dark background */
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.aboutSection h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.87); /* Light text color */
}

.aboutSection p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: rgba(255, 255, 255, 0.7); /* Slightly dimmer light text color for paragraphs */
}

@media (max-width: 768px) {
  .aboutSection h2 {
    font-size: 2rem;
  }
  .aboutSection p {
    font-size: 1rem;
  }
}
